Repository sourcejump/website: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --check, stylelint

Add lint action
  .github/workflows/lint.yml
Due: none

chore: add vscode specific settings
  .vscode/extensions.json
  .vscode/settings.json
Due: none

chore: register prettier-plugin-tailwindcss with prettier
  .prettierrc.json
Due: none

Create initial OpenAPI specification
  openapi.yml
Due: none

Add VS Code settings, recommended plugins and .editorconfig
  .editorconfig
  .vscode/extensions.json
  .vscode/settings.json
  .vscode/tailwind.json
Due: none

Add necessary dependencies
  package-lock.json
  package.json
Due: none

Add webpack and CORS configuaration
  headers.config.js
  next.config.mjs
  webpack.config.js
Due: eslint, prettier --check

Modify tsconfig.json
  tsconfig.json
Due: none

Add .env variables and add tailwind breakpoints
  .env.sample
  src/configs/env.ts
  tailwind.config.ts
Due: eslint, prettier --check

Add custom hooks
  src/hooks/useClickOutside.ts
  src/hooks/useClipboard.ts
  src/hooks/useDebounceValue.ts
  src/hooks/useLocalStorage.ts
  src/hooks/useMounted.ts
  src/hooks/useQueryParams.ts
  src/hooks/useScrollListener.ts
  src/hooks/useUpdated.ts
  src/hooks/useWindowSize.ts
Due: eslint, prettier --check

Add types and stack middlewares
  src/middleware.ts
  src/middlewares/stackMiddlewares.ts
  src/middlewares/types.ts
  src/middlewares/withHeaders.ts
  src/middlewares/withRedirect.ts
  src/types/declaration.d.ts
  src/types/global.ts
Due: eslint, prettier --check

Add styles and homepage layout
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  src/styles/_index.css
  src/styles/_normalize.css
  src/styles/_reset.css
  src/styles/globals.css
Due: eslint, prettier --check, stylelint

Add cn utility for constructing className strings conditionally
  src/utils/cn.ts
Due: eslint, prettier --check

Update README.md
  README.md
  public/vercel.svg
Due: none

Add prettier config and format existing code
  .prettierrc.json
  package-lock.json
  package.json
  src/app/layout.tsx
  src/app/page.tsx
  src/hooks/useDebounceValue.ts
  src/hooks/useLocalStorage.ts
  src/hooks/useQueryParams.ts
  src/hooks/useScrollListener.ts
  src/middlewares/stackMiddlewares.ts
  src/middlewares/withHeaders.ts
  src/middlewares/withRedirect.ts
Due: eslint, prettier --check

Remove XSS-Protection header, update VS Code extensions and modify tailwind config
  .prettierrc.json
  .vscode/extensions.json
  .vscode/settings.json
  .vscode/tailwind.json
  README.md
  headers.config.js
  package-lock.json
  package.json
  tailwind.config.ts
Due: eslint, prettier --check

Fix code formatting
  .vscode/extensions.json
  src/hooks/useClickOutside.ts
  src/hooks/useLocalStorage.ts
  src/hooks/useQueryParams.ts
  src/hooks/useScrollListener.ts
  src/hooks/useUpdated.ts
  src/middlewares/stackMiddlewares.ts
  webpack.config.js
Due: eslint, prettier --check

Configure additional project settings and add custom hooks and middleware chaining (#5)
  .editorconfig
  .env.sample
  .prettierrc.json
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  headers.config.js
  next.config.mjs
  package-lock.json
  package.json
  public/vercel.svg
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  src/configs/env.ts
  src/hooks/useClickOutside.ts
  src/hooks/useClipboard.ts
  src/hooks/useDebounceValue.ts
  src/hooks/useLocalStorage.ts
  src/hooks/useMounted.ts
  src/hooks/useQueryParams.ts
  src/hooks/useScrollListener.ts
  src/hooks/useUpdated.ts
  src/hooks/useWindowSize.ts
  src/middleware.ts
  src/middlewares/stackMiddlewares.ts
  src/middlewares/types.ts
  src/middlewares/withHeaders.ts
  src/middlewares/withRedirect.ts
  src/styles/_index.css
  src/styles/_normalize.css
  src/styles/_reset.css
  src/styles/globals.css
  src/types/declaration.d.ts
  src/types/global.ts
  src/utils/cn.ts
  tailwind.config.ts
  tsconfig.json
  webpack.config.js
Due: eslint, prettier --check, stylelint

remove unnecessary 401 responses
  openapi.yml
Due: none

update to openapi 3.1.0
  openapi.yml
Due: none

Add tags section with descriptions
  openapi.yml
Due: none

run prettier
  openapi.yml
Due: none

Remove maps/runs and players/runs endpoint, expand runs endpoint to have greater query parameters
  openapi.yml
Due: none

Standardise arrays to be multi-line
  openapi.yml
Due: none

Move reusable parameters and enums to components
  openapi.yml
Due: none

Correct MapFields name to RunFields
  openapi.yml
Due: none

Add pagination query parameters to /servers and /maps endpoints
  openapi.yml
Due: none

Create /players GET
  openapi.yml
Due: none

Consistent object styling
  openapi.yml
Due: none

Add /maps/{mapId}/zones endpoint and associated schemas
  openapi.yml
Due: none

Update map and run models
  openapi.yml
Due: none

Add min/max/default to offset and limit params
  openapi.yml
Due: none

Add run/{runId}/replay endpoint
  openapi.yml
Due: none

Create initial OpenAPI specification (#4)
  openapi.yml
Due: none

Add drizzle to project
  package-lock.json
  package.json
Due: none

Fix up openapi spec a bit
  openapi.yml
Due: none

Create base drizzle schemas
  .env.sample
  .gitignore
  drizzle.config.ts
  src/db/index.ts
  src/db/schema/maps.ts
  src/db/schema/players.ts
  src/db/schema/runs.ts
  src/db/schema/servers.ts
  src/db/schema/zones.ts
Due: eslint, prettier --check

Create intitial Drizzle schemas (#6)
  .env.sample
  .gitignore
  drizzle.config.ts
  openapi.yml
  package-lock.json
  package.json
  src/db/index.ts
  src/db/schema/maps.ts
  src/db/schema/players.ts
  src/db/schema/runs.ts
  src/db/schema/servers.ts
  src/db/schema/zones.ts
Due: eslint, prettier --check

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier --check: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.css
